<button *ngIf="!addForm" (click)='showAddForm()'class="btn">Add a New Member</button>
<br>
<div *ngIf="addForm">
  <div class="panel-body">
    <div>
      <label>Name:</label>
      <br>
      <input #newName>
      <br>
    </div>
    <div>
      <label>Image:</label>
      <br>
      <input #newImage>
      <br>
    </div>
    <div>
      <label>Area of expertise:</label>
      <br>
    <select #newExpertise>
      <option value="All Members">All Members</option>
      <option value="Director">Director</option>
      <option value="Writer">Writer</option>
      <option value="Actor">Actor</option>
      <option value="Crew">Crew</option>
       <br>
    </select>
    </div>
    <div>
      <label>Bio:</label>
      <br>
      <input #newBio>
      <br>
    </div>
    <div>
      <label>Contact:</label>
      <br>
      <input #newcontact>
    </div>
    <br>
    <button class="btn"(click)='showAddForm()' (click)="submitForm(newName.value, newImage.value, newExpertise.value, newBio.value, newcontact.value); newName.value=''; newImage.value=''; newExpertise.value=''; newBio.value=''; newcontact.value='';">Add</button>
  </div>
</div>
